.alphakat_generator {
	.fieldset {
		&.letters {
			button {
				img {
					$size: 100px;

					width: $size;
				} 
			}
		}
	}

	#design {
		max-width: 1200px;
	}

	.lightbox {
		left: 20vw;
		right: 20vw;
	}
}