.alphakat_generator {
	#create {
		input {
			&[type="text"] {
				width: auto;
			}

			&[type="submit"] {
				width: auto;
			}
		}
	}

	.fieldset {
		&.letters {
			button {
				img {
					$size: 80px;

					width: $size;
				} 
			}
		}

		&.boards, &.colour {
			padding: 50px;
		}
	}

	.boards {
		input {
			&[type="radio"], input[type="checkbox"] {

				& + label {
					margin: 0 10px;
				}
			}
		}
	}

	.lightbox {
		background: rgba(255, 255, 255, 0.9);
		padding: 50px;
		top: 10vh;
		left: 15vw;
		right: 15vw;
		bottom: auto;

		.tags {
			flex-wrap: nowrap;
		}

		.options {
			grid-template-columns: repeat(auto-fill, 100px);
			max-height: 60vh;
		}
	}

	
}