:root {
	--primary: #FAA862;
	--secondary: #005e62;
	--font_feature: 'Rhesmanisa',Helvetica, Arial, Lucida, sans-serif;
	--font_main: 'Lato',Helvetica,Arial,Lucida,sans-serif;
	--module_background: url('../img/background.png');
}

$navy: #1C3073;